<script>
(function() {
    var stop, staticx;
    var img = new Image();
    img.src = "https://files.cnblogs.com/files/dshvv/sakura.png";
    function Sakura(x, y, s, r, fn) {
        this.x = x; this.y = y; this.s = s; this.r = r; this.fn = fn;
    }
    Sakura.prototype.draw = function(cxt) {
        cxt.save();
        var xc = 40 * this.s / 4;
        cxt.translate(this.x, this.y);
        cxt.rotate(this.r);
        cxt.drawImage(img, 0, 0, 40 * this.s, 40 * this.s);
        cxt.restore();
    }
    Sakura.prototype.update = function() {
        this.x = this.fn.x(this.x, this.y);
        this.y = this.fn.y(this.y, this.y);
        this.r = this.fn.r(this.r);
        if(this.x > window.innerWidth || this.x < 0 || this.y > window.innerHeight || this.y < 0) {
            this.r = staticx.getRandom('fnr');
            if(Math.random() > 0.4) {
                this.x = staticx.getRandom('x');
                this.y = 0;
                this.s = staticx.getRandom('s');
                this.r = staticx.getRandom('r');
            } else {
                this.x = window.innerWidth;
                this.y = staticx.getRandom('y');
                this.s = staticx.getRandom('s');
                this.r = staticx.getRandom('r');
            }
        }
    }
    SakuraList = function() {
        this.list = [];
    }
    SakuraList.prototype.push = function(sakura) { this.list.push(sakura); }
    SakuraList.prototype.update = function() {
        for(var i = 0, len = this.list.length; i < len; i++) { this.list[i].update(); }
    }
    SakuraList.prototype.draw = function(cxt) {
        for(var i = 0, len = this.list.length; i < len; i++) { this.list[i].draw(cxt); }
    }
    SakuraList.prototype.get = function(i) { return this.list[i]; }
    SakuraList.prototype.size = function() { return this.list.length; }
    staticx = {
        init: function() {
            var canvas = document.createElement('canvas');
            canvas.id = 'canvas_sakura';
            canvas.style.cssText = 'position:fixed;left:0;top:0;pointer-events:none;z-index:9999';
            document.body.appendChild(canvas);
            this.canvas = canvas;
            this.cxt = canvas.getContext('2d');
            this.canvas.width = window.innerWidth;
            this.canvas.height = window.innerHeight;
            this.sakuraList = new SakuraList();
            for(var i = 0; i < 50; i++) {
                var sakura, randomX, randomY, randomS, randomR, randomFnx, randomFny;
                randomX = this.getRandom('x');
                randomY = this.getRandom('y');
                randomR = this.getRandom('r');
                randomS = this.getRandom('s');
                randomFne = this.getRandom('fnr');
                sakura = new Sakura(randomX, randomY, randomS, randomR, {
                    x: function(x, y) { return x - 0.5; },
                    y: function(y) { return y + 1.5; },
                    r: function(r) { return r + randomFne; }
                });
                sakura.draw(this.cxt);
                this.sakuraList.push(sakura);
            }
            this.stop = requestAnimationFrame(function() {
                staticx.cxt.clearRect(0, 0, staticx.canvas.width, staticx.canvas.height);
                staticx.sakuraList.update();
                staticx.sakuraList.draw(staticx.cxt);
                staticx.stop = requestAnimationFrame(arguments.callee);
            })
        },
        getRandom: function(a) {
            switch(a) {
                case 'x': return Math.random() * window.innerWidth;
                case 'y': return Math.random() * window.innerHeight;
                case 'r': return Math.random() * 6;
                case 's': return Math.random() * 1;
                case 'fnr': return Math.random() * 0.03;
            }
        }
    }
    img.onload = function() { staticx.init(); }
})();
</script>
<script src="https://blog-static.cnblogs.com/files/lyp-520/sakura.js"></script>

<style>
    body {
        background-image: url("/background.jpg") !important;
        background-attachment: fixed !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .main {
        background: rgba(255, 255, 255, 0.1); /* 先给个超淡色看看能不能透过去 */
        backdrop-filter: blur(10px); /* 加个毛玻璃 */
    }
</style>